.msgArea{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 90vw;
    height: 80vh;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
}

.sidebar{
   overflow: auto;
   overflow-x: hidden;
   scrollbar-width: none;
   display: flex;
   flex-direction: column;
    flex: .3;
   flex-direction: column;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.sb-header{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 10px 5px;
    margin: 15px;
}
.sb-search{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 15px;
    display: flex;
    gap: 4px;
    align-items: center;

}
.search-box{
    outline-width: 0;
    border: none;
    font-size: 1.25rem;
}
.sb-conversation{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 15px;
    flex: 1;

}
.conversation-container{
    display: grid;
    grid-template-columns: 30px auto auto;
    /* grid-template-rows: auto auto; */
    column-gap: 10px;
}
.con-icon-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.con-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background: rgb(186, 183, 183);
    color: white;
    font-size: larger;
   font-weight: 700;
}
.con-title-container{
    
    display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.con-timeStamp-container{
    display: flex;
    justify-content: center;
    align-items: end;
}
.workarea{
   display: flex;
   flex-direction: column;
   gap: 10px;
    flex: .7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-radius: 20px;
    padding: 10px 5px;
    margin: 15px;
   
}
.chat-header{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 10px 5px;
    
    
}
.chat-info{
    display: flex;
    align-items: center;
    gap: 30px;
}
.head-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.head-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background: rgb(186, 183, 183);
    color: white;
    font-size: larger;
   font-weight: 700;

}
.chat-body{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border-radius: 15px;
    flex: 1;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    
}
.msg-othercontainer{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 5px;
    margin: 4px 2px;
}
.other-msg{
    border-radius: 8px;
    padding: 10px 5px;
    background-color: aqua;
}
.msg-selfcontainer{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px 5px;
    margin: 4px 2px;

}
.my-msg{
    border-radius: 8px;
    padding: 10px 5px;
    background-color: aquamarine;
}
.chat-footer{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   background-color: white;
   border-radius: 5px;

}
.send-msgcont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}
.text-msg{
    outline-width: 0;
    border: none;
    font-size: 1.25rem;
    padding: 4px 2px;
}